.footer {
  bottom: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121212;
  color: #efefef;
  margin-top: 2rem;

  &__link {
    color: #efefef;
    font-weight: 700;
    text-decoration: none;
    transition: all ease-out 0.25s;

    &:hover {
      color: deepskyblue;
    }
  }

  &__heart {
    color: salmon;
  }
}
